body {
  margin-left: 20px;
  margin-right: 20px;
}
/* Headline */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Subhead */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Paragraphs */
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Captions */
.caption {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #888;
}


img {

  width: 500px;


}